doctype
html
  head
    title #{title} - Neo4j
    link(rel='stylesheet', href="https://unpkg.com/purecss@0.6.2/build/pure-min.css", integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD", crossorigin="anonymous")
  body
    header
      h1 Neo4j Project
    .container
      .menu
        block buttons
      .main-content
        block content
      .action
        block action
      .table
        block table
    footer
      p Neo4j Ana Peraita